/* Appwide Stuff */

.app_message {
	font-size: 80%;
	min-height: 1em;
	-webkit-transition: all 1s ease-out 0s;
	-moz-transition: all 1s ease-out 0s;
	-ms-transition: all 1s ease-out 0s;
	-o-transition: all 1s ease-out 0s;
	transition: all 1s ease-out 0s;
}

.app_message p {
	margin-top: 3px;
	margin-bottom: 3px;
	padding-top: 0;
	padding-bottom: 0;
}

.app_message.default, #mainMessage.default {
		color: #777;
}
.app_message.notice, #mainMessage.notice {
	  color: rgb(0, 100, 0);
}
.app_message.warn, #mainMessage.warn {
		color: rgb(166, 0, 0);
}

.app_hidden {
	visibility: hidden;
	-webkit-opacity: 0;
	-moz-opacity: 0;
	opacity: 0;
}


.app_visible {
	visibility: visible;
	-webkit-opacity: 0.90;
	-moz-opacity: 0.90;
	opacity: 0.90;
}

/* Containers */

#o2_Container {
	border: 1px solid silver;
	padding: 15px;
	padding-top: 3px;
}

/* OHCO2 Stuff */
#o2_validUrnFlag {
	font-size: 80%;
}

#o2_validUrnFlag.invalidUrn:before {
		content: " (invalid URN)";
		color: red;
}

#o2_validUrnFlag.validUrn:before {
		content: " (valid URN)";
		color: green;
}


/* Forms Stuff */

label {
	padding-right: 2px;
	padding-left: 4px;
	color: #333;
}

input[type=submit]:active {
		color: navy;
}

input[type=submit]:hover {
		color: green;
}


/* Inherited Stuff */

html,
body {
	margin: 0;
	padding: 25px;
	padding-top: 5px;
}

h1 {
	font-size: 120%;
}

h2 {
	font-size: 100%;
	font-weight: bold;
	margin-top: 3px;
	margin-bottom: 3px;
}


body {
	font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	line-height: 1.4em;
	color: #4d4d4d;
	/* width: 550px; */
	margin: 0 auto;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	font-smoothing: antialiased;
}


hr {
	margin: 20px 0;
	border: 0;
	border-top: 1px dashed #C5C5C5;
	border-bottom: 1px dashed #F7F7F7;
}

div {
	margin: 0;
	padding: 0;
}

p {
}

button, input{
	/* Optical justification FTW */
	margin-left: -1px;
}

/*
button {
	margin: 0;
	padding: 0;
	border: 0;
	background: none;
	font-size: 100%;
	vertical-align: baseline;
	font-family: inherit;
	color: inherit;
	-webkit-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
}
*/

/*
#utilityFields {
		font-size: 80%;
		float: right;
		width: 500px;
		background-color: #fff;
		padding: 15px;
		min-height: 200px;
}
.ngramString {
		margin-right: 1em;
		color: #7273af;
}

.ngramString:hover {
		text-decoration: underline;
}


#citedWorks ul {
	list-style-type: decimal;
}

#currentPassage, #nGramSpace, #nGramUrnResults {
	max-width: 650px;
	padding: 25px;
}

#currentPassage {
	padding-bottom: 0px;
}

#nGramSpace, #nGramUrnResults {
	padding-top: 0px;
	padding-bottom: 0px;
	max-width: 100%;
}

#nGramUrnsDiv ol {
	list-style-type: decimal;
	-moz-column-count: 2;
-moz-column-gap: 60px;
-webkit-column-count: 2;
-webkit-column-gap: 60px;
column-count: 2;
column-gap: 30px;

.ngramurn {
	float: left;
	margin-right: 1em;
	min-width: 25em;
}

#nGramUrnResults {
	padding-top: 0px;
}
*/
