/* Text Formatting */

div.p {
	display: block;
	padding-bottom: 0.5em;
}

unclear {
	border-bottom: 2px dotted black;
}

add {
	color: red;
	vertical-align: super;
}

choice {
	color: #09f;
}
choice:before {
	content: "( ";
}

choice:after {
	content: " )";
}

corr {
	color: green;
}

choice corr:before{
	content: "→";
}


del {
	text-decoration: line-through;
	color: red;
}
expan {
	color: green;
}

expan:before {
	content: "(";
}

expan:after {
	content: ")";
}

gap {
	background: white;
	border-top: 1px solid #aab;
	border-left: 1px solid #aab;
	color: grey;
	font-size: 80%;
}
q:before {
	content: "“";
}

q:after {
	content: "”";
}

quote:before {
	content: "“";
}

quote:after {
	content: "”";
}

w {
	border: 1px solid #BBF;
	padding: 3px;
}

sic {
	color: navy;
}

sic:after{
	content: " [sic]";
}

supplied:before {
	content: "[";
}

supplied:after {
	content: "]";
}

speaker {
	font-weight: bold;
}

speaker:after {
	content: " — ";
}


/* Appwide Stuff */

.app_clickable, a {
	color: #7273af;
	text-decoration: none;
}

.app_clickable:hover, a:hover {
		text-decoration: underline;
}

.app_message {
	max-width: 500px;
	font-size: 80%;
	font-weight: normal;
	min-height: 1em;
	float: right;
	-webkit-transition: all 1s ease-out 0s;
	-moz-transition: all 1s ease-out 0s;
	-ms-transition: all 1s ease-out 0s;
	-o-transition: all 1s ease-out 0s;
	transition: all 1s ease-out 0s;
}

.app_message p {
	padding-top: 0;
	padding-bottom: 0;
	margin: 0;
}

.app_message.default, #mainMessage.default {
		color: #777;
}
.app_message.wait, #mainMessage.wait {
	  color: #777;
}

.app_message.warn, #mainMessage.warn {
		color: rgb(166, 0, 0);
}

#app_header_versionInfo {
		font-size: 80%;
		color: #777;
		font-weight: normal;
}

.app_hidden {
	visibility: hidden;
	-webkit-opacity: 0;
	-moz-opacity: 0;
	opacity: 0;
}

.app_visible {
	visibility: visible;
	-webkit-opacity: 0.90;
	-moz-opacity: 0.90;
	opacity: 0.90;
}

div.app_sidebarDiv{
		font-size: 80%;
		float: right;
		max-width: 33%;
		background-color: #fff;
		padding: 15px;
		padding-top: 3px;
		padding-left: 35px;
		min-height: 200px;
}

div.app_sidebarDiv h2 {
	padding-top: 5px;
}

#app_filePickerSpan {
		font-weight: normal;
		font-size: 65%;
		float: right;
}

#app_filePicker {
	width: 175px;
}

/* appwide forms */
div.app_sidebarDiv label {
		padding-right: 5px;
}

div.app_sidebarDiv h2 {
		margin-bottom: 10px;
		margin-top: 10px;
}

/* Containers */

#o2_Container {
	padding-top: 3px;
	min-height: 220px;
}

/* NGram &c. stuff */

#ngram_container, #ngram_urns_container {
	max-width: 66%;
}

#ngram_query, #ngram_urn_query {
	font-size: 80%;
	line-height: 1em;
	border: 1px dashed silver;
	padding: 6px;
	max-width: 80%;
}

.ngram_ngram {
		margin-right: 1em;
}

div#ngram_urns ol, div#search_urns ol {
	font-size: 90%;
	list-style-type: decimal;
	-moz-column-count: 2;
	-moz-column-gap: 60px;
	-webkit-column-count: 2;
	-webkit-column-gap: 60px;
	column-count: 2;
	column-gap: 60px;
}


/* OHCO2 Stuff */
#o2_validUrnFlag {
	font-size: 80%;
}

#o2_validUrnFlag.invalidUrn:before {
		content: " (invalid URN)";
		color: red;
}

#o2_validUrnFlag.validUrn:before {
		content: " (valid URN)";
		color: green;
}

#o2_citedWorksContainer ul {
	list-style-type: decimal;
}

.app_reportingCurrentUrn {
	font-size: 80%;
	color: #777;
	padding-top: 0;
	margin-top: 0;
}

#o2_passageContainer {
	padding-bottom: 5px;
}

div.o2_textColumn {
	margin-right: 1em;
}

div.o2_2_cols{
	float:left;
	min-width: 20%;
	width: 30%;
}

div.o2_1_cols{

}

div#o2_navButtonContainer{
	clear: both;
}

.o2_passageUrn {
	color: rgb(171, 0, 0);
	font-size: 80%;
	padding-bottom: 3px;
	margin-right: 3px;
	vertical-align: baseline;
  position: relative;
  top: -0.4em;
}


/* Forms Stuff */

label {
	padding-right: 2px;
	padding-left: 4px;
	color: #333;
}

input[type=submit]:active {
		color: navy;
}

input[type=submit]:hover {
		color: green;
}


/* Inherited Stuff */

html,
body {
	margin: 0;
	padding: 25px;
	padding-top: 5px;
}

header, footer {
	line-height: 1.2em;
	color: #777;
}

header {
	font-size: 120%;
	padding-bottom: 5px;
	font-weight: bold;
}

footer {
	font-size: 80%;
	bottom: -200px;
	position: absolute;
	padding-right: 60px;
}

h1 {
	font-size: 120%;
}

h2 {
	font-size: 100%;
	font-weight: bold;
	margin-top: 3px;
	margin-bottom: 3px;
}


body {
	font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	line-height: 1.4em;
	color: #4d4d4d;
	/* width: 550px; */
	margin: 0 auto;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	font-smoothing: antialiased;
}


hr {
	margin: 20px 0;
	border: 0;
	border-top: 1px dashed #C5C5C5;
	border-bottom: 1px dashed #F7F7F7;
}

div {
	margin: 0;
	padding: 0;
}

p {
}

input{
	/* Optical justification FTW */
	margin-left: -1px;
}

/* Experimenting with pure-CSS tabs */

.app_tabs {
  position: relative;
  min-height: 400px; /* This part sucks */
  clear: both;
  margin: 25px 0;
}

.app_tab {
  float: left;
}

.app_tab label.tab_label {
	font-weight: bold;
	height: 1.2em;
  background: #f7f7f7;
	color: #d7d7d7;
  padding: 9px;
	padding-top: 8px;
  border: 1px solid #ccc;
  border-bottom: 2px solid #f4f4f4;
  margin-left: -1px;
  position: relative;
  left: 1px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px;
}

.app_tab [type=radio] {
  display: none;
}

.content {
  position: absolute;
  top: 28px;
  left: 0;
  background: white;
  right: 0;
  /* bottom: 0; */
  padding-left: 20px;
  padding-right: 20px;
	padding-top: 3px;
	padding-bottom: 15px;
  border: 1px solid #ccc;
  display: none;
}

[type=radio]:checked ~ label {
  background: white;
	color: black;
  border-bottom: 3px solid white;
  z-index: 2;
}

[type=radio]:checked ~ label ~ .content {
  z-index: 1;
	display: block;
}

/*
button {
	margin: 0;
	padding: 0;
	border: 0;
	background: none;
	font-size: 100%;
	vertical-align: baseline;
	font-family: inherit;
	color: inherit;
	-webkit-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
}
*/

/*
#utilityFields {
		font-size: 80%;
		float: right;
		width: 500px;
		background-color: #fff;
		padding: 15px;
		min-height: 200px;
}
.ngramString {
		margin-right: 1em;
		color: #7273af;
}

.ngramString:hover {
		text-decoration: underline;
}


#citedWorks ul {
	list-style-type: decimal;
}

#currentPassage, #nGramSpace, #nGramUrnResults {
	max-width: 650px;
	padding: 25px;
}

#currentPassage {
	padding-bottom: 0px;
}

#nGramSpace, #nGramUrnResults {
	padding-top: 0px;
	padding-bottom: 0px;
	max-width: 100%;
}

#nGramUrnsDiv ol {
	list-style-type: decimal;
	-moz-column-count: 2;
-moz-column-gap: 60px;
-webkit-column-count: 2;
-webkit-column-gap: 60px;
column-count: 2;
column-gap: 30px;

.ngramurn {
	float: left;
	margin-right: 1em;
	min-width: 25em;
}

#nGramUrnResults {
	padding-top: 0px;
}
*/
